! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt.intensityStyles: false

!!URxvt*font: xft:TerminessTTF Nerd Font:pixelsize=18
URxvt.font: xft:TerminessTTF Nerd Font:pixelsize=18, \
	    xft:UbuntuMono Nerd Font:size=13, \
            xft:Inconsolata Nerd Font Mono:size=13, \
            xft:DejaVuSansMono Nerd Font:size=13, \
            xft:DroidSansMono Nerd Font:size=13, \
            xft:SauceCodePro Nerd Font:size=13, \
            xft:FuraMono Nerd Font:size=13, \
            xft:RobotoMono Nerd Font:size=13, \
            xft:Noto Sans Mono:size=13, \
            xft:Monospace:style=Medium:antialias=false 

URxvt.scrollBar: off
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.cursorColor:#ffff00
URxvt.saveLines: 10000
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true

urxvt*depth:32
!!urxvt*foreground:#ADADAD
urxvt*background:rgba:0600/0600/0600/dddd
URxvt.foreground: 15


! black
URxvt.color0:       #1d1f21
URxvt.color8:       #969896

! red
URxvt.color1:       #cc6666
URxvt.color9:       #cc6666

! green
URxvt.color2:       #b5bd68
URxvt.color10:      #b5bd68

! yellow
URxvt.color3:       #f0c674
URxvt.color11:      #f0c674

! blue
URxvt.color4:       #81a2be
URxvt.color12:      #81a2be

! magenta
URxvt.color5:       #b294bb
URxvt.color13:      #b294bb

! cyan
URxvt.color6:       #8abeb7
URxvt.color14:      #8abeb7

! white
URxvt.color7:       #c5c8c6
URxvt.color15:      #ffffff

!!! i3wm colors !!!!

*color0:#303030
*color1:#af3700
*color2:#00aa36
*color3:#cdcd00
*color4:#1e90ff
*color5:#4b2c5b
*color6:#00cdcd
*color7:#cfcfcf
